body{
	background-color: #eee;
}

.top{
	padding-top: 60px;
}

.centered-nav{
	text-align: center;
}

.open-sidebar{
	transform: scale(2.5, 2) rotate(-90deg);
	position: fixed;
 	top: 17px;
  	left: 163px;
  	z-index: 1031;
}

.doc-logo:hover, .badge:hover {
  -webkit-filter: brightness(1.3);
  -moz-filter: brightness(1.3);
  -ms-filter: brightness(1.3);
  -o-filter: brightness(1.3);
  filter: brightness(1.3);
}

.open-sidebar a{
	/* color: #9d9d9d; */
	color: red;
}

ul.notification-padding > li:nth-child(1n+2) {
	border-top: 1px solid #eee;
}

.move-logo-right{
	padding-left: 25px;
}

navbar-brand img{
	background-color: white;
}
.badge{
	background-color:red;
}
.color{
	background-color: #00cc00;
	margin-left:-5px;
}
.pointer{
	cursor: pointer;
}
.notification-padding{
	padding: 10px;
}