body{
	background-color: #eee;
}

.top{
	padding-top: 60px;
}

.centered-nav{
	text-align: center;
}

.open-sidebar{
	transform: scale(2.5, 2) rotate(-90deg);
	position: fixed;
 	top: 17px;
  	left: 163px;
  	z-index: 1031;
}

.doc-logo:hover, .badge:hover {
  -webkit-filter: brightness(1.3);
  -moz-filter: brightness(1.3);
  -ms-filter: brightness(1.3);
  -o-filter: brightness(1.3);
  filter: brightness(1.3);
}

.open-sidebar a{
	/* color: #9d9d9d; */
	color: red;
}

ul.notification-padding > li:nth-child(1n+2) {
	border-top: 1px solid #eee;
}

.move-logo-right{
	padding-left: 25px;
}

navbar-brand img{
	background-color: white;
}
.badge{
	background-color:red;
}
.color{
	background-color: #00cc00;
	margin-left:-5px;
}
.pointer{
	cursor: pointer;
}
.notification-padding{
	padding: 10px;
}

.tt-dropdown-menu {
	width: calc(100% - 2px);
	border: 1px solid #bbb;
	border-top: 0;
	padding: 0;
	background-color: #fff;
}

.tt-suggestion {
	padding: 5px 10px;
	margin: 0;
	cursor: pointer;
}

tt-suggestion p {
	margin: 5px 0;
}

tt-suggestion .tt-cursor {
	background-color: #21d413;
}

.tt-hint {
	color: #bbb;
}

.twitter-typeahead {
	width: 100%; 
}

.tt-dropdown-menu {
	width: 100%;
}

.tt-hint {
    width: 100%;
}

#autocomplete li.selected { 
  background-color:#428bca;
  color:green;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
color: red;
text-decoration: none;
outline: 0;
background-color: #aaa;
background-image: -moz-linear-gradient(top, #aaa, #aaa);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaa), to(#aaa));
background-image: -webkit-linear-gradient(top, #aaa, #aaa);
background-image: -o-linear-gradient(top, #aaa, #aaa);
background-image: linear-gradient(to bottom, #aaa, #aaa);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaaaaa', endColorstr='#aaaaaa', GradientType=0);
}

.twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
}
.twitter-typeahead .hint-small {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}
.twitter-typeahead .hint-large {
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}

ol.circles-list {
    list-style-type: none;
    list-style-type: decimal !ie; IE 7- hack
     
    margin: 0;
    margin-left: 0em;
    padding: 0;
    padding-top: 15px; 
    counter-reset: li-counter;
}
ol.circles-list > li{
    position: relative;
    margin-bottom: 2px;
    padding-top: 0.8em;
    padding-left: 0.5em;
    min-height: 3em;
}
/* ol.circles-list > li:before {
    position: absolute;
    top: 0;
    left: -1.33em;
    width: 1.3em;
    height: 1.3em;
     
    font-size: 1.8em;
    line-height: 1.2;
    text-align: center;
    color: #f5f5f5;
 
    border: 3px solid #c5c5c5;
    border-radius: 50%;
    background-color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
} */